body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Important toma este estrictamente para que lo use*/
/*a para href*/
.custom-nav-bar > li > a{
    color: #fff !important; 
    font-weight:bold;
}

/*Pseudoclase*/
.custom-nav-bar > li > a:hover{
    background:#ff6a00 !important;
    transition: all .4s ease-in;
    /*width: 300px;*/
}

.custom-btn{
    background:#512DA8;
    color: #fff;
    font-weight:bold;
    text-transform:uppercase;
    border-radius: 20px;
    transition: all .4s ease-in;
}

.custom-btn:hover{
    color: #fff;
    background: #607D8B;
    transition: all .4s ease-in;
}

.custom-header{
    width: 52%;
    background: url(img/n-community-icon-v1.png) no-repeat;
    height: 300px;
    background-size: cover;
}

.custom-footer-link > a {
    display: block;
    text-decoration: none;
    background: #727272;
    color: #fff;
    font-weight: bold;
    width: 7em;
    padding: 0.3em 1em;
    transition: all .4s ease-in;
}

.custom-footer-link > a:hover{
    background:#212121;
    transition: all .4s ease-in;
}

#rememberMe{
    margin: 12px 0 0;
}

