@{
    ViewBag.Title = "BIENVENIDOS";
}

<div class="jumbotron">
    <h1>II EXAMEN LENGUAJES</h1>
    <p class="lead">UCR SEDE DEL PACÍFICO</p>
    <p class="lead">"ARNOLDO FERRETO SEGURA"</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Este sistema busca el mantenimiento administrativo de cursos y estudiantes&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
       
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
       
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>